@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html,
body {
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

#hud {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: 'Russo One', sans serif;
    color: white;
    font-size: 30px;
}

#ship {
    position: absolute;
    background-image: url('../images/ship.png');
    width: 128px;
    height: 64px;
}

#ports {
    margin-top: 96px;
    width: 0px;
    display: flex;
    justify-content: space-around;
}

#ports>.port {
    width: 64px;
    height: 32px;
    background-image: url('../images/port.png');
}

#viewport {
    width: 640px;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background-image: url('../images/water0.png');

}

#portform {
    display: flex;
    color: black;
    background-color: white;
    font-family: 'Russo One', sans-serif;
    border: solid white 1px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#addbutton {
    display: block;
    background-color: red;
    color: white;
    position: absolute;
    bottom: 0;
}

#message {
    padding: 16px;
    font-family: 'Russo One', sans-serif;
    position: absolute;
    background-color: rgb(233, 227, 227);
    bottom: 0;
    width: 100%;
    border-top: 3px solid white;
    color: red;
}



#sailbutton {
    border: 0;
    background-color: #FB3640;
    border-bottom: 4px solid #d8040f;
    color: white;
    font-family: inherit;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    font-size: 20px;
    left: 0;
    display: block;
    width: 100%;
    font-family: 'Russo One', sans-serif;

}

#sailbutton:focus {
    background-color: #d8040f;
    border-bottom-width: 0;
    padding-top: 14px;
  }

